<section id="languageChooser" class="f16" data-bind="foreach: languages">
    <a class="flag" href="#" data-bind="css: flag, attr: { alt: name, title: name }, click: function (lang) { app.language(lang.code); }"></a>
</section>
